<span data-srcset="{{ media_img_url }} 2x"></span>
<a href="#" class="opener">
 {{ label|render|striptags }}
</a>
<div class="text-holder">
  <div class="info">

    <h4 class="title">{{ label|render|striptags }}</h4>
    <h4>{{ content.body|render|striptags }}</h4>

    {% if content.field_link  %}
      {{ content.field_link }}
    {% endif %}

  </div>
</div>
<div class="bg-video">
  <video muted playsinline loop poster="{{ media_img_url }}">
    <source type="video/mp4" src="./media/video.mp4" />
    <span class="sr-only">video content</span>
  </video>
</div>